In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
all_perth_house = Path("resources/all_perth_310121.csv")

# Read all perth houses sales prices and store into Pandas DataFrames
house_prices_perth = pd.read_csv(all_perth_house)

In [2]:
house_prices_perth

,ADDRESS,SUBURB,PRICE,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN,NEAREST_STN_DIST,DATE_SOLD,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH,NEAREST_SCH_DIST,NEAREST_SCH_RANK
0,1 Acorn Place,South Lake,565000,4,2,2.0,600,160,2003.0,18300,Cockburn Central Station,1800,09-2018\r,6164,-32.115900,115.842450,LAKELAND SENIOR HIGH SCHOOL,0.828339,NaN
1,1 Addis Way,Wandi,365000,3,2,2.0,351,139,2013.0,26900,Kwinana Station,4900,02-2019\r,6167,-32.193470,115.859554,ATWELL COLLEGE,5.524324,129.0
2,1 Ainsley Court,Camillo,287000,3,1,1.0,719,86,1979.0,22600,Challis Station,1900,06-2015\r,6111,-32.120578,115.993579,KELMSCOTT SENIOR HIGH SCHOOL,1.649178,113.0
3,1 Albert Street,Bellevue,255000,2,1,2.0,651,59,1953.0,17900,Midland Station,3600,07-2018\r,6056,-31.900547,116.038009,SWAN VIEW SENIOR HIGH SCHOOL,1.571401,NaN
4,1 Aman Place,Lockridge,325000,4,1,2.0,466,131,1998.0,11200,Bassendean Station,2000,11-2016\r,6054,-31.885790,115.947780,KIARA COLLEGE,1.514922,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33651,9C Gold Street,South Fremantle,1040000,4,3,2.0,292,245,2013.0,16100,Fremantle Station,1500,03-2016\r,6162,-32.064580,115.751820,CHRISTIAN BROTHERS' COLLEGE,1.430350,49.0
33652,9C Pycombe Way,Westminster,410000,3,2,2.0,228,114,NaN,9600,Stirling Station,4600,02-2017\r,6061,-31.867055,115.841403,JOHN SEPTIMUS ROE ANGLICAN COMMUNITY SCHOOL,1.679644,35.0
33653,9D Pycombe Way,Westminster,427000,3,2,2.0,261,112,NaN,9600,Stirling Station,4600,02-2017\r,6061,-31.866890,115.841418,JOHN SEPTIMUS ROE ANGLICAN COMMUNITY SCHOOL,1.669159,35.0
33654,9D Shalford Way,Girrawheen,295000,3,1,2.0,457,85,1974.0,12600,Warwick Station,4400,10-2016\r,6064,-31.839680,115.842410,GIRRAWHEEN SENIOR HIGH SCHOOL,0.358494,NaN
33655,9E Margaret Street,Midland,295000,3,1,2.0,296,95,NaN,16700,Midland Station,1700,05-2016\r,6056,-31.882163,116.014755,LA SALLE COLLEGE,1.055564,53.0

In [3]:
house_prices_perth.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33656 entries, 0 to 33655
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ADDRESS           33656 non-null  object
 1   SUBURB            33656 non-null  object
 2   PRICE             33656 non-null  int64
 3   BEDROOMS          33656 non-null  int64
 4   BATHROOMS         33656 non-null  int64
 5   GARAGE            31178 non-null  float64
 6   LAND_AREA         33656 non-null  int64
 7   FLOOR_AREA        33656 non-null  int64
 8   BUILD_YEAR        30501 non-null  float64
 9   CBD_DIST          33656 non-null  int64
 10  NEAREST_STN       33656 non-null  object
 11  NEAREST_STN_DIST  33656 non-null  int64
 12  DATE_SOLD         33656 non-null  object
 13  POSTCODE          33656 non-null  int64
 14  LATITUDE          33656 non-null  float64
 15  LONGITUDE         33656 non-null  float64
 16  NEAREST_SCH       33656 non-null  object
 17  NEAREST_SCH_DIST  33656 non-null  float64
 18  NEAREST_SCH_RANK  22704 non-null  float64
dtypes: float64(6), int64(8), object(5)
memory usage: 4.9+ MB

In [8]:
# Specify the columns for display
columns_to_display = ["ADDRESS", "LATITUDE", "LONGITUDE", "SUBURB", "BEDROOMS",
                      "BATHROOMS", "GARAGE", "LAND AREA", "FLOOR AREA", "BUILD YEAR", "KM FROM CBD",
                      "CBD DIST", "DATE SOLD", "POSTCODE", "NEAREST SCH", "NEAREST SCH RANK",
                      "NEAREST SCH DIST"]

# Remove underscores from column names
house_prices_perth.columns = [col.replace("_", " ") for col in house_prices_perth.columns]

# Convert 'CBD DIST' from meters to kilometers
house_prices_perth['KM FROM CBD'] = house_prices_perth['CBD DIST'] / 1000

# Fill NaN values in 'GARAGE' column with 0
house_prices_perth['GARAGE'].fillna(0, inplace=True)


# Display the DataFrame with selected columns
selected_columns_df = house_prices_perth[columns_to_display]

house_prices_perth_cleaned = house_prices_perth.dropna(subset=['NEAREST SCH RANK', 'BUILD YEAR'])
house_prices_perth_cleaned

,ADDRESS,SUBURB,PRICE,BEDROOMS,BATHROOMS,GARAGE,LAND AREA,FLOOR AREA,BUILD YEAR,CBD DIST,NEAREST STN,NEAREST STN DIST,DATE SOLD,POSTCODE,LATITUDE,LONGITUDE,NEAREST SCH,NEAREST SCH DIST,NEAREST SCH RANK,KM FROM CBD
1,1 Addis Way,Wandi,365000,3,2,2.0,351,139,2013.0,26900,Kwinana Station,4900,02-2019\r,6167,-32.193470,115.859554,ATWELL COLLEGE,5.524324,129.0,26.9
2,1 Ainsley Court,Camillo,287000,3,1,1.0,719,86,1979.0,22600,Challis Station,1900,06-2015\r,6111,-32.120578,115.993579,KELMSCOTT SENIOR HIGH SCHOOL,1.649178,113.0,22.6
9,1 Arundel Street,Bayswater,685000,3,2,8.0,552,126,1999.0,5900,Bayswater Station,508,10-2019\r,6053,-31.917880,115.907050,CHISHOLM CATHOLIC COLLEGE,0.936243,29.0,5.9
11,1 Ashcott Gate,Butler,367500,3,2,2.0,398,158,2003.0,36300,Butler Station,2100,11-2018\r,6036,-31.654280,115.702200,BUTLER COLLEGE,0.680843,39.0,36.3
13,1 Ashendon Boulevard,Hammond Park,535000,4,2,4.0,704,247,2002.0,23100,Cockburn Central Station,3900,07-2019\r,6164,-32.159590,115.849480,ATWELL COLLEGE,2.220643,129.0,23.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33646,9B North Street,Swanbourne,1700000,4,3,4.0,414,277,2009.0,9400,Grant Street Station,558,04-2017\r,6010,-31.981771,115.765149,SCOTCH COLLEGE,0.762346,24.0,9.4
33648,9B Teocote Crescent,Aubin Grove,423000,3,2,2.0,248,108,2011.0,24900,Cockburn Central Station,5700,05-2016\r,6164,-32.176013,115.858357,ATWELL COLLEGE,3.607062,129.0,24.9
33649,9B Viveash Road,Middle Swan,467000,4,2,2.0,400,132,2014.0,17100,Midland Station,2500,04-2015\r,6056,-31.872192,116.013543,LA SALLE COLLEGE,1.116806,53.0,17.1
33650,9b Wesley Street,South Fremantle,955000,3,2,1.0,200,127,1997.0,16000,Fremantle Station,1900,02-2019\r,6162,-32.066410,115.756070,FREMANTLE COLLEGE,1.134956,128.0,16.0
33651,9C Gold Street,South Fremantle,1040000,4,3,2.0,292,245,2013.0,16100,Fremantle Station,1500,03-2016\r,6162,-32.064580,115.751820,CHRISTIAN BROTHERS' COLLEGE,1.430350,49.0,16.1

In [5]:
house_prices_perth_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20692 entries, 1 to 33651
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ADDRESS           20692 non-null  object
 1   SUBURB            20692 non-null  object
 2   PRICE             20692 non-null  int64
 3   BEDROOMS          20692 non-null  int64
 4   BATHROOMS         20692 non-null  int64
 5   GARAGE            20692 non-null  float64
 6   LAND AREA         20692 non-null  int64
 7   FLOOR AREA        20692 non-null  int64
 8   BUILD YEAR        20692 non-null  float64
 9   CBD DIST          20692 non-null  int64
 10  NEAREST STN       20692 non-null  object
 11  NEAREST STN DIST  20692 non-null  int64
 12  DATE SOLD         20692 non-null  object
 13  POSTCODE          20692 non-null  int64
 14  LATITUDE          20692 non-null  float64
 15  LONGITUDE         20692 non-null  float64
 16  NEAREST SCH       20692 non-null  object
 17  NEAREST SCH DIST  20692 non-null  float64
 18  NEAREST SCH RANK  20692 non-null  float64
 19  KM FROM CBD       20692 non-null  float64
dtypes: float64(7), int64(8), object(5)
memory usage: 3.3+ MB

In [6]:
print (house_prices_perth_cleaned)

                    ADDRESS           SUBURB    PRICE  BEDROOMS  BATHROOMS  \
1               1 Addis Way            Wandi   365000         3          2
2           1 Ainsley Court          Camillo   287000         3          1
9          1 Arundel Street        Bayswater   685000         3          2
11           1 Ashcott Gate           Butler   367500         3          2
13     1 Ashendon Boulevard     Hammond Park   535000         4          2
...                     ...              ...      ...       ...        ...
33646       9B North Street       Swanbourne  1700000         4          3
33648   9B Teocote Crescent      Aubin Grove   423000         3          2
33649       9B Viveash Road      Middle Swan   467000         4          2
33650      9b Wesley Street  South Fremantle   955000         3          2
33651        9C Gold Street  South Fremantle  1040000         4          3

       GARAGE  LAND AREA  FLOOR AREA  BUILD YEAR  CBD DIST  \
1         2.0        351         139      2013.0     26900
2         1.0        719          86      1979.0     22600
9         8.0        552         126      1999.0      5900
11        2.0        398         158      2003.0     36300
13        4.0        704         247      2002.0     23100
...       ...        ...         ...         ...       ...
33646     4.0        414         277      2009.0      9400
33648     2.0        248         108      2011.0     24900
33649     2.0        400         132      2014.0     17100
33650     1.0        200         127      1997.0     16000
33651     2.0        292         245      2013.0     16100

                    NEAREST STN  NEAREST STN DIST  DATE SOLD  POSTCODE  \
1               Kwinana Station              4900  02-2019\r      6167
2               Challis Station              1900  06-2015\r      6111
9             Bayswater Station               508  10-2019\r      6053
11               Butler Station              2100  11-2018\r      6036
13     Cockburn Central Station              3900  07-2019\r      6164
...                         ...               ...        ...       ...
33646      Grant Street Station               558  04-2017\r      6010
33648  Cockburn Central Station              5700  05-2016\r      6164
33649           Midland Station              2500  04-2015\r      6056
33650         Fremantle Station              1900  02-2019\r      6162
33651         Fremantle Station              1500  03-2016\r      6162

        LATITUDE   LONGITUDE                   NEAREST SCH  NEAREST SCH DIST  \
1     -32.193470  115.859554                ATWELL COLLEGE          5.524324
2     -32.120578  115.993579  KELMSCOTT SENIOR HIGH SCHOOL          1.649178
9     -31.917880  115.907050     CHISHOLM CATHOLIC COLLEGE          0.936243
11    -31.654280  115.702200                BUTLER COLLEGE          0.680843
13    -32.159590  115.849480                ATWELL COLLEGE          2.220643
...          ...         ...                           ...               ...
33646 -31.981771  115.765149                SCOTCH COLLEGE          0.762346
33648 -32.176013  115.858357                ATWELL COLLEGE          3.607062
33649 -31.872192  116.013543              LA SALLE COLLEGE          1.116806
33650 -32.066410  115.756070             FREMANTLE COLLEGE          1.134956
33651 -32.064580  115.751820   CHRISTIAN BROTHERS' COLLEGE          1.430350

       NEAREST SCH RANK  KM FROM CBD
1                 129.0         26.9
2                 113.0         22.6
9                  29.0          5.9
11                 39.0         36.3
13                129.0         23.1
...                 ...          ...
33646              24.0          9.4
33648             129.0         24.9
33649              53.0         17.1
33650             128.0         16.0
33651              49.0         16.1

[20692 rows x 20 columns]

In [7]:
# Define the bins for 5km increments
bins = range(0, int(house_prices_perth_cleaned['CBD DIST'].max()) + 6, 5)

# Group the data by bins and calculate the count of houses in each bin
houses_sold_by_distance = house_prices_perth_cleaned.groupby(pd.cut(house_prices_perth_cleaned['CBD DIST'], bins)).size()

# Print the results
houses_sold_by_distance

CBD DIST
(0, 5]            0
(5, 10]           0
(10, 15]          0
(15, 20]          0
(20, 25]          0
                 ..
(56880, 56885]    0
(56885, 56890]    0
(56890, 56895]    0
(56895, 56900]    4
(56900, 56905]    0
Length: 11381, dtype: int64